---

---

<section
  class="h-[80vh] my-36 flex flex-col justify-center items-center"
  id="clases"
>
  <h2 class="text-3xl font-extrabold tracking-tight text-center">
    Nuestras clases de Yoga
  </h2>
  <p class="text-gray-500 dark:text-gray-400 text-center my-10">
    Aquí puedes encontrar todos los estilos de yoga que ofrecemos en nuestro
    estudio
  </p>
  <div
    class="grid max-grid-cols-1 justify-center items-center gap-10
    md:grid-cols-2 max-md:m-20
    max-sm:m-8 w-[65%]"
  >
    <div
      class="border-2 rounded-lg text-center shadow-lg flex flex-col items-center justify-center h-auto"
    >
      <h3 class="text-2xl font-bold m-2">Yoga Flow</h3>
      <p class="m-2 text-gray-500 dark:text-gray-400">
        Secuencia fluida de posturas que se sincronizan con la respiración para
        mejorar la flexibilidad y fortalecer el cuerpo.
      </p>
    </div>

    <div
      class="border-2 rounded-lg text-center shadow-lg flex flex-col items-center justify-center h-auto"
    >
      <h3 class="text-2xl font-bold m-2">Yoga Integral</h3>
      <p class="m-2 text-gray-500 dark:text-gray-400">
        Enfoque holístico que combina diferentes técnicas de yoga para
        equilibrar cuerpo, mente y espíritu.
      </p>
    </div>

    <div
      class="border-2 rounded-lg text-center shadow-lg flex flex-col items-center justify-center h-auto"
    >
      <h3 class="text-2xl font-bold m-2">Yoga Power</h3>
      <p class="m-2 text-gray-500 dark:text-gray-400">
        Práctica dinámica y vigorosa que se centra en el fortalecimiento
        muscular y el aumento de la energía.
      </p>
    </div>

    <div
      class="border-2 rounded-lg text-center shadow-lg flex flex-col items-center justify-center h-auto"
    >
      <h3 class="text-2xl font-bold m-2">Meditación</h3>
      <p class="m-2 text-gray-500 dark:text-gray-400">
        Práctica de atención plena que ayuda a calmar la mente, reducir el
        estrés y promover la claridad mental.
      </p>
    </div>
  </div>
</section>
