---

---

<main
  class="h-[100vh] w-full pt-[15vh] flex items-center justify-center max-sm:flex-col"
>
  <div
    class="w-[35%] h-auto flex flex-col justify-center text-start text-black sm:h-3/4"
  >
    <h1 class="text-7xl w-full">
      <span class="font-[500]"> Yoga</span>
      <br />
      <span class="text-base font-medium">& Meditacion</span>
    </h1>
    <h2 class="text-start opacity-70 my-9">
      El objetivo de practicar yoga es cultivar la armonía entre la mente, el
      cuerpo y el espíritu, promoviendo la salud, la relajación y el bienestar
      físico y mental.
    </h2>

    <button
      class="text-start text-white hover:scale-110 hover:rotate-3 duration-100"
    >
      <span
        class="bg-orange-500 rounded-2xl px-4 py-2 hover:bg-violet-600 ease-in-out duration-75"
      >
        Reservar Clase</span
      >
    </button>
  </div>
  <picture class="w-[40%] h-full sm:h-1/4 flex justify-center items-center">
    <img
      src="/public/5180214.jpg"
      alt="Imagen-Inicio"
      class="w-auto rounded-full shape"
    />
  </picture>
</main>
