---

---

<main
  class="h-[90vh] w-full px-6 pt-[20vh] pb-[10vh] flex items-center justify-center gap-5 max-md:flex-col"
  id="inicio"
>
  <div
    class="w-full h-auto flex flex-col justify-center text-start text-black
    md:w-1/2
    sm:h-auto"
  >
    <h1 class="text-7xl w-full lg:text-9xl">
      <span class="font-[500]"> Yoga</span>
      <br />
    </h1>
    <em class="text-base font-medium pt-6">& Meditacion</em>
    <h2
      class="text-start opacity-70 py-8
                md:mr-30 sm:my-2 sm:text-sm max-sm:w-3/4
               lg:text-lg lg:mr-36"
    >
      El objetivo de practicar yoga es cultivar la armonía entre la mente, el
      cuerpo y el espíritu. Asi promovemos la salud, la relajación, el bienestar
      físico y mental.
    </h2>
  </div>

  <!-- Imagen de Pexels -->
  <figure
    class="h-auto flex justify-center items-center
  max-md:w-[500px]
 max-sm:overflow-visible max-sm:w-[350px]"
  >
    <img
      src="/5180214.avif"
      alt="Imagen-Inicio"
      class="w-[650px]"
      title="Imagen-Inicio. Credito de la imagen: Pexels"
    />
  </figure>
</main>
