---

---

<main
  class="h-auto w-full pt-[17vh] grid grid-cols-2 items-center justify-center gap-5 md:flex-col sm:flex-col"
>
  <div
    class="ml-16x w-auto h-auto flex flex-col justify-center text-start text-black sm:h-3/4 max-sm:w-full max-sm:ml-24 sm:justify-start"
  >
    <h1 class="text-7xl w-full">
      <span class="font-[500]"> Yoga</span>
      <br />
    </h1>
    <em class="text-base font-medium pt-6">& Meditacion</em>
    <h2 class="text-start opacity-70 pt-6 my-9 sm:my-2 sm:text-sm max-sm:w-3/4">
      El objetivo de practicar yoga es cultivar la armonía entre la mente, el
      cuerpo y el espíritu, promoviendo la salud, la relajación y el bienestar
      físico y mental.
    </h2>

    <button class="text-start pt-5 text-white h-auto max-md:hidden">
      <span
        class="bg-orange-500 rounded-2xl px-4 py-2 hover:scale-110 hover:rotate-3 hover:bg-violet-600 ease-in-out duration-75"
      >
        Reservar Clase</span
      >
    </button>
  </div>
  <picture
    class="h-auto sm:h-1/4 flex justify-center items-center max-sm:overflow-visible"
  >
    <img
      src="/5180214.jpg"
      alt="Imagen-Inicio"
      class="w-[500px] rounded-3xl roun shadow-lg"
    />
  </picture>
</main>
