---
interface Props {
  title: string;
}
// Supports weights 100-900
import "@fontsource-variable/onest";

//
const { title } = Astro.props;
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/YogaPalermo-Logo.png" />
    <link rel="stylesheet" href="https://use.typekit.net/cqv8jyu.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui;
    background: white;
    background-size: 224px;
    border-color: transparent;
    scroll-behavior: smooth;
  }
  body {
    font-family: "Onest Variable", sans-serif;
  }
</style>
