---
interface Props {
  title: string;
}
// Supports weights 100-900
import "@fontsource-variable/onest";

import SpeedInsights from "@vercel/speed-insights/astro";
//
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/YogaPalermo-Logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Primary Meta Tags -->
    <title>Bienvenido a YogaPalermo</title>
    <meta name="title" content="Bienvenido a YogaPalermo" />
    <meta
      name="description"
      content="El objetivo de practicar yoga es cultivar la armonía entre la mente, el cuerpo y el espíritu, promoviendo la salud, la relajación y el bienestar físico y mental."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://yoga-palermo.vercel.app/" />
    <meta property="og:title" content="Bienvenido a YogaPalermo" />
    <meta
      property="og:description"
      content="El objetivo de practicar yoga es cultivar la armonía entre la mente, el cuerpo y el espíritu, promoviendo la salud, la relajación y el bienestar físico y mental."
    />
    <meta property="og:image" content="/YogaPalermo-Logo.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://yoga-palermo.vercel.app/" />
    <meta property="twitter:title" content="Bienvenido a YogaPalermo" />
    <meta
      property="twitter:description"
      content="El objetivo de practicar yoga es cultivar la armonía entre la mente, el cuerpo y el espíritu, promoviendo la salud, la relajación y el bienestar físico y mental."
    />
    <meta property="twitter:image" content="/YogaPalermo-Logo.png" />
    <!-- Meta Tags Generated with https://metatags.io -->

    <!-- Google Search -->
    <meta
      name="google-site-verification"
      content="pp9NeIAYPI4VLXFgkbxpPoz5wyJeFXJGJ3Z4lqPG11E"
    />
  </head>
  <body>
    <main>
      <slot />
      <SpeedInsights />
    </main>
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui;
    background: white;
    border-color: transparent;
    scroll-behavior: smooth;
  }
  body {
    font-family: "Onest Variable", sans-serif;
  }
</style>
